body {
  margin: 0 auto;
  padding: 0;
  width: 460px;
}

#done, #error {
  display: none;
}

#loading, #error {
  margin-top: 50px;
  text-align: center;
}

#loading p, #error p {
  margin: 15px 0;
}

#settings {
  display: none;
  padding: 30px 0 40px 0;
  }

h1 {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 30px;
  text-align: center;
}

ul.nav {
  text-align: center;
}

ul.nav > li {
  float: none;
  display: inline-block;
}

p.left, p.right,
p.left select, p.right select {
  width: 210px;
}

p.left {
  float: left;
}

p.right {
  float: right;
}

#wizard:after {
  display: table;
  clear: both;
  content: " ";
}

#custom {
  display: none;
}

#query {
  width: 446px;
  height: 150px;
}

label[for="url"] {
  border-top: 1px solid #ccc;
  padding-top: 15px;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 10px;
}

#url {
  width: 446px;
  margin-bottom: 30px;
}
